/* center page */
.login-container {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f6f8;
}

/* login card */
.login-box {
  width: 320px;
  padding: 2rem;
  background: white;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.login-box h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* inputs */
.login-box input {
  margin-bottom: 1rem;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-box input:focus {
  outline: none;
  border-color: #007bff;
}

/* button */
.login-box button {
  padding: 10px;
  font-size: 1rem;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background: #0056b3;
}

button {
    margin:5px 0px;
}